/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    background-image: url('piu.png'); /* Замените на путь к вашему изображению */
    background-size: cover; /* Покрытие всего экрана */
    background-repeat: no-repeat; /* Не повторять изображение */
    background-attachment: fixed; /* Зафиксировать изображение при прокрутке */
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем содержимое */
}

/* Заголовки */
h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}

h2 {
    color: #34495e;
    margin-top: 30px;
}

/* Контейнер для формы добавления продукта */
#productFormContainer {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 300px; /* Ширина формы */
}

/* Стили селектора */
#toggleProductForm {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Стили формы */
form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Кнопки */
button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Плавный переход цвета */
}

button:hover {
    background-color: #2980b9;
}

/* Стили таблиц */
table {
    width: 80%; /* Уменьшенная ширина таблиц */
    border-collapse: collapse;
    margin-top: 20px;
    background: white; /* Фон таблицы */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #3498db;
    color: white;
    border-top-left-radius: 8px; /* Закругление углов */
    border-top-right-radius: 8px;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Отступы для секций с приёмами пищи */
h2:nth-of-type(3),
h2:nth-of-type(5),
h2:nth-of-type(7),
h2:nth-of-type(9) {
    margin-top: 50px;
}

/* Пример для текста с полупрозрачным фоном */
.text-container {
    background-color: rgba(255, 255, 255, 0.7); /* Полупрозрачный белый фон */
    padding: 10px;
    border-radius: 5px;
    color: #333; /* Цвет текста */
}

/* Мобильная адаптация */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    #productFormContainer {
        width: 100%; /* Полная ширина на мобильных устройствах */
    }

    table {
        width: 100%; /* Полная ширина таблиц */
    }
}
